<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>ParaParent</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
		<link rel="shortcut icon" href="/assets/img/ParaParentLogo.png"/>
		<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
	</head>
	<body>
		<h3>ParaParent</h3>
		<div id="userInfo" class="container">
		</div>
		<div class="errorMessage">
		</div>
		<script src="/assets/welcomeBundle.js"></script>
	</body>
</html>